# Task

In [1]:
# Importing libraires 
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mauri\OneDrive\Documentos\Instacart Basket Analysis\02 Data'

#### Step 3

In [3]:
# Importing 'orders_products_combined.pkl'
df_combined = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_combined.pkl'))

#### step 4

In [4]:
df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [5]:
df_combined.shape

(32640698, 11)

In [6]:
df_products_cleaned = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False )

In [7]:
df_products_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_products_cleaned.shape

(49672, 5)

#### Step 5

In [9]:
# droping _merged flag from last task to use be able to use it in this task
df_combined.drop('_merge', inplace = True, axis = 1)

In [10]:
df_orders_products_merged = df_combined.merge(df_products_cleaned, on = ['product_id'], indicator = True)

In [11]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#### Step 6

In [12]:
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both

#### Step 7

In [13]:
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data','orders_products_merged.pkl'))